# Core AI
requests
groq
newspaper3k
beautifulsoup4
python-dotenv
huggingface_hub

# Database
supabase
pydantic

# Backend
fastapi
uvicorn
httpx

# MLOps & Monitoring
wandb
loguru
dvc
pytest

# Frontend
streamlit


lxml_html_clean

ip install --force-reinstall httpx rich supabase



npm create vite@latest sentinomind-ui -- --template react